<style>
    .navbar-custom {
      background-color: red;
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
      color: white;
    }
    .navbar-custom .nav-link:hover {
      color: #ccc;
    }
  </style>
  
  <nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fitness Equipment Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addProduct">Add Product</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  